<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>tweet bot</title>
</head>
<body>


<form method="post" action="/update/{{.tweet.ID}}">
    <p>内容<input type="text" name="text" size="30" value="{{.tweet.Text}}" ></p>
    <p>状態
        <select name="status">
            {{$status := .tweet.Status}}
            {{range .Statuses}}
                {{if eq . $status}}
                    <option value={{.}} selected>{{.}}</option>
                {{else}}
                    <option value={{.}}>{{.}}</option>
                {{end}}
            {{end}}
        </select>
    </p>
    <p>ツイートする日時: <input type="text" name="tweetAt" size="30" value="{{.tweet.TweetAtString}}" ></p>
    <p><input type="submit" value="Send"></p>
</form>
</body>
</html>
